
*.bin

*.idx
*.json
.idea/
.vs/
cmake-build-debug/
cmake-build-release/
*.bak*
/build
/build/

TraineeProjectSource/build/CMakeFiles/3.16.3/CompilerIdC/

TraineeProjectSource/build/
cmake_build_Release/
cmake_build_release/
build_debug/
TraineeProjectSource/TraineeProjectExecutable_autogen/
cmake_install.cmake
Makefile
CMakeFiles/
.ninja*
*.ninja
CMakeCache.txt
test.txt
